// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

$primary: #111111;
$line-height-base: 1.75;
$paragraph-margin-bottom: 1.5rem;
$headings-font-weight: 600;